@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #f8fafc;
    /* background-color: #09090b; */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply min-h-screen bg-zinc-950 text-white antialiased w-full;
  }

  #root {
    @apply min-h-screen;
  }
}
